/assignmentInfo/
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/strobad1-BSY-Stage7.iml
/.idea/vcs.xml
/assignmentInfo/*
